<div class="ls-login-parent">
  <div class="ls-login-inner">
    <div class="ls-login-container">
      <div class="ls-login-box">
        <div class="ls-alert-danger"><%= alert %></div>
        <div class="ls-alert-success"><%= notice %></div>
        <%= yield %>
      </div>
    </div>
  </div>
</div>